//=========================================================
//
//  @package Wicle WDK
//
//  @author Robin Soo-hyuk Nam, (http://windron.com)
//  @date Aug 15, 2016
//
//=========================================================

//--- layout
// $w-site-max-width:              null !default; // 1220px !default; null means no limit
// $w-page-max-width:              1220px !default;  // 960px !default;

//--- grid
$grid-max-count:              16 !default;
$grid-gutter-width:           1rem !default;  // 20px


//--- borders
$border-radius:               3px !default;


//-----------------------------------------------
//  Generate Optional Classes - Add to your scss file if necessary
//-----------------------------------------------

//--- sass-wdk: visibility classes (see sass-wdk _visibility.scss for details)
// @include w-visibility-generate-classes; // generate all classes
// @include w-visibility-generate-classes((show, hide), (medium, large)); // generate selective classes

//--- wicle: theme colors for button and panel
// @include w-button-modifier-color-scheme(primary);
// @include w-panel-modifier-color-scheme((secondary, info));
// @include w-button-modifier-color-scheme();
// @include w-panel-modifier-color-scheme();
