@use 'wdk/color';
@use 'wdk/reg';

$key: 'w-theme';

//--- color scheme
// $theme-color:                color.$amaranth !default;
// $theme-color-link-hover:     color.$persimmon !default;
$theme-font-size:               reg.gsv($key, 'font-size', 14px);

//--- theme colors
$theme-color:                   reg.gsv($key, 'color/fg', color.$bahama-blue);
$theme-color-bg:                reg.gsv($key, 'color/bg', color.adjust($theme-color, $alpha: -95));
$theme-color-link:              reg.gsv($key, 'color/link', color.scale($theme-color, $lightness: -10%));
$theme-color-link-hover:        reg.gsv($key, 'color/link-hover', color.$text-red);
$theme-color-line:              reg.gsv($key, 'color/line', rgba($theme-color, 0.35));


//--- default colors
$text:                          color.$text-black !default;   // default text color
$bg:                            #FFF;                 // default background color
$link:                          color.$cerulean !default;     // <a> color
$link-visited:                  $link !default;
$link-hover:                    color.scale($link, $lightness: -10%) !default;

// color.$code-block:                color.$alice-blue !default;   // <pre><code> color
$primary:                       reg.gsv($key, 'color/primary', color.$navy-blue);
$secondary:                     reg.gsv($key, 'color/secondary', color.$raven);
$success:                       reg.gsv($key, 'color/success', color.$chateau-green);
$info:                          reg.gsv($key, 'color/info', color.$pelorous);
$warning:                       reg.gsv($key, 'color/warning', color.$amber);
$danger:                        reg.gsv($key, 'color/danger', color.$amaranth);
$color-scheme:                  ( primary: $primary,
                                          secondary: $secondary,
                                          success: $success,
                                          info: $info,
                                          warning: $warning,
                                          danger: $danger
                                ) !default;

//--- default fonts
$sans:                          reg.gsv($key, 'font/sans', 'Arial,Helvetica,Verdana,sans-serif');
$serif:                         reg.gsv($key, 'font/serif', 'Georgia,Times,Times New Roman,serif');
$mono:                          reg.gsv($key, 'font/mono', 'Consolas,Courier,monospace');
