//=========================================================
//
//  @package  Wicle Collection
//  @module   ui/components/pagination
//
//=========================================================

@use 'wdk/color';
@use 'wdk/reg';
@use 'wdk/ui/misc' as *;
@use 'wdk/ui/media-query' as mq;
@use 'wdk/ui/theme';

//-----------------------------------------------
//  Config
//-----------------------------------------------
$key: 'w-pagination';

@mixin ssv($path, $value, $is-default: false) {
    @include reg.ssv($key, $path, $value, $is-default);
}
@function gsv($path, $default: null) {
    @return reg.gsv($key, $path, $default);
}

// core
@include ssv('breakpoint', 'md', true);
@include ssv('padding', 0.25rem 0.85rem, true);

// default styles
@include ssv('theme-color', color.scale(theme.gsv('color/fg'), $lightness: -5%), true); // pagination theme color
@include ssv('current-color', color.scale(color.$harley-davidson-orange, $lightness: -5%), true); // current page color

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-pagination-core() {
    .page-links {
        text-align: center;
        position: relative;

        .page-numbers {
            display: none;
            font-size: 0.875rem;
            font-weight: 800;
            vertical-align: middle;
            transition: all 0.2s ease-in-out;
            padding: gsv(padding);
            border-radius: 2px;

            $arrow-scale: 1.5;

            &.prev,
            &.next {
                display: inline-block;
                position: absolute;

                &::before {
                    display: block; // required to enable transform effect
                    content: '\27A4';
                    transform: scaleY($arrow-scale);
                }

                top: 50%;
                transform: translateY(-50%);
            }

            &.prev {
                left: 0;

                &::before {
                    transform: scaleY($arrow-scale) rotate(180deg);
                    //content: '\2B9C'    // deprecated because this is not available on mobile devices
                }
            }

            &.next {
                right: 0;
                transform: translateY(-50%) scaleY(1);
                //&::before {
                //content: '\2B9E';   // deprecated because this is not available on mobile devices
                //}
            }

            &.current {
                display: inline-block;

                &::before {
                    content: 'Page';
                    margin-right: 0.5rem;
                }
            }

            @include mq.media(gsv(breakpoint)) {
                display: inline-block;
                padding: gsv(padding-wide);

                &.current {
                    &::before {
                        display: none;
                    }
                }

                &.dots {
                    border: none;
                    background: none;
                }
            }
        }

        @include clearfix;
    }
}

@mixin w-pagination-modifiers-circle {
    .page-links {
        .page-numbers {
            @include mq.media(gsv(breakpoint)) {
                padding: 0.5rem 0.8rem;
                border-radius: 50%;

                &.prev,
                &.next {
                    border-radius: 2px;
                }
            }
        }
    }
}

@mixin w-pagination-modifiers {
    &.wo-circle {
        @include w-pagination-modifiers-circle;
    }
}

//
//  Sets pagination theme color and current page color
//  @parsam {Color} $color-theme - Pagination theme Color
//  @param {Color} $color-current - Current page color
//
@mixin w-pagination-styles($color-theme, $color-current) {
    .page-links {
        .page-numbers {
            color: $color-theme;

            @include mq.media(gsv(breakpoint)) {
                border: 1px solid rgba($color-theme, 0.35);

                &:hover {
                    background: rgba($color-theme, 0.15);
                }

                &.prev,
                &.next {
                    color: color.yiq-color($color-theme);
                    background: $color-theme;

                    &:hover {
                        background: rgba($color-theme, 0.85);
                    }
                }

                &.current {
                    border: none;
                    background: $color-current;
                    color: color.yiq-color($color-current);
                }
            }
        }
    }
}

@mixin w-pagination-default-styles {
    @include w-pagination-styles(gsv(theme-color), gsv(current-color));
}

//-----------------------------------------------
//  Elements
//-----------------------------------------------
@mixin generate() {
    .w-pagination {
        @include w-pagination-core;
        @include w-pagination-modifiers;
        @include w-pagination-default-styles;
    }
}
