//=========================================================
//
//  @package  Wicle Collection
//  @module   layout/page
//
//  @usage
//  <
//=========================================================

@use 'sass:math';
@use 'wdk/reg';
@use 'wdk/ui/misc' as *;
@use 'wdk/ui/media-query' as mq;

//-----------------------------------------------
//  Config
//-----------------------------------------------
$key: 'w-layout/page';

@mixin ssv($path, $value, $is-default: false) {
    @include reg.ssv($key, $path, $value, $is-default);
}
@function gsv($path, $default: null) {
    @return reg.gsv($key, $path, $default);
}

// page
@include ssv('max-width', 1220px, true);
@include ssv('min-height', 30rem, true);
@include ssv('padding', 1rem, true);
@include ssv('font-family', null, true);
@include ssv('font-size', 1.15rem, true);
@include ssv('breakpoint', 'lg', true);

// sidebar: sidebar size defined first and then content size determined
@include ssv('sidebar/width', 20rem, true);
@include ssv('sidebar/spacing', 3rem, true);
@include ssv('sidebar/padding', 0 0 0 calc(gsv('sidebar/spacing') / 2), true);

// contents
@include ssv('content/width', calc(100% - #{gsv('sidebar/width')}), true);
@include ssv('content/padding', 0 calc(gsv('sidebar/spacing') / 2) 0 0, true);

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-layout-page() {
    .l-page {
        font-size: gsv('font-size');
        font-family: gsv('font-family');
        max-width: gsv('max-width');
        min-height: gsv('min-height');
        margin: 0 auto;
        padding: gsv('padding');
        @include clearfix;
    }
}

@mixin w-layout-page-content() {
    .l-content {
        box-sizing: border-box;
        width: 100%; // mobile first (100% for mobile)
        padding: 0; // no padding because it is set by l-page
    }

    $breakpoint: gsv('breakpoint');

    @if $breakpoint {
        @include mq.media(gsv('breakpoint')) {
            .l-page:not(.wo-single) {
                .l-content {
                    float: left;
                    width: gsv('content/width');
                    padding: gsv('content/padding');

                    &.wo-right {
                        float: right;
                    }
                }
            }
        }
    }
}

@mixin w-layout-page-sidebar() {
    // mobile first: contents and sidebar have 100% width
    .l-sidebar {
        box-sizing: border-box;
        width: 100%;
        padding: 0; // no padding because it is set by l-page
    }

    // On bigger screens, sidebar comes on left or right of content
    $breakpoint: gsv('breakpoint');

    @if $breakpoint {
        @include mq.media($breakpoint) {
            .l-page:not(.wo-single) {
                .l-sidebar {
                    float: left;
                    width: gsv('sidebar/width');
                    padding: gsv('sidebar/padding');
                }
            }
        }
    }
}

//=========================================================
@mixin generate() {
    @include w-layout-page;
    @include w-layout-page-content;
    @include w-layout-page-sidebar;
}
