//=========================================================================
//
//  @package  Wicle Collection
//  @module   ui/components/Divider
//  @description Horizontal dividers
//
//  @usage
//    <div class="w-divider wo-thin"></div>
//    <div class="w-divider"><span>Divider Text</span></div>
//    <div class="w-divider"><div class="w-divider-text">Text</div></div>
//
//=========================================================================

@use 'wdk/color';
@use 'wdk/reg';
@use '../config' as wc;

$key: 'w-divider';

//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin ssv($path, $value, $is-default:false) { @include reg.ssv($key, $path, $value, $is-default); }
@function gsv($path, $default:null) {  @return reg.gsv($key, $path, $default); }

@mixin init() {
    // core
    @include ssv('style', 1px solid color.gray(80%), true);
    @include ssv('spacing', 1.5rem, true);
    @include ssv('text/fg', null, true);
    @include ssv('text/bg', white, true);

    // modifiers
    @include ssv('skinny/spacing', 0.25rem, true);
    @include ssv('slim/spacing', 0.5rem, true);
    @include ssv('thin/spacing', 1rem, true);
    @include ssv('thick/spacing', 2rem, true);
    @include ssv('fat/spacing', 3rem, true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-divider-core {
    //display: inline-block;  // required to remove margin collapsing
    padding: 1px 0 0 0;
    width: 100%;
    height: auto;
    user-select: none;
    z-index: 0;
    margin: gsv(spacing) 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 100%;
        border-top: gsv(style);
    }

    // text on divider
    position: relative;
    text-align: center;

    &>span,
    .w-divider-text {
        display: inline;
        padding: 0.2rem 1rem;
        border-radius: wc.$border-radius;
    }
}

@mixin w-divider-modifiers {
    &.wo-fit {
        margin: 0 0;
    }

    &.wo-skinny {
        margin: gsv(skinny/spacing) 0;
    }

    &.wo-slim {
        margin: gsv(slim/spacing) 0;
    }

    &.wo-thin {
        margin: gsv(thin/spacing) 0;
    }

    &.wo-thick {
        margin: gsv(thick/spacing) 0;
    }

    &.wo-fat {
        margin: gsv(fat/spacing) 0;
    }

    &.wo-transparent {
        &:before {
            display: none;
        }
    }
}

@mixin w-divider-text-style($fg, $bg: null) {
    & > span,
    .w-divider-text {
        color: gsv(text/fg);
        background: gsv(text/bg);
    }
}

@mixin w-divider-default-styles() {
    @include w-divider-text-style(gsv(text/fg), gsv(text/bg));
}

//-----------------------------------------------
//  Elements
//-----------------------------------------------
@mixin generate() {
    @include init();

    .w-divider {
        @include w-divider-core;
        @include w-divider-modifiers;
        @include w-divider-default-styles;
    }
}
