//=========================================================
//
//  @package Wicle Collection
//  @module Components/image
//
//=========================================================

@use 'wdk/color';
@use 'wdk/reg';

$key: 'w-image';

//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin ssv($path, $value, $is-default:false) { @include reg.ssv($key, $path, $value, $is-default); }
@function gsv($path, $default:null) {  @return reg.gsv($key, $path, $default); }

@mixin init() {
    // core
    @include ssv('radius', 3px, true);

    // modifiers
    @include ssv('frame/fg', color.adjust(color.$text-black, $alpha: -0.5), true);
    @include ssv('frame/padding', 0.15rem, true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-image-core($circular:false) {
    // responsive image
    max-width: 100%;
    height: auto;
}

@mixin w-image-modifiers {
    &.wo-frame,
    &.wo-thumbnail {
        padding: gsv(frame/padding);
        border: 1px solid gsv(frame/fg);
    }

    &.wo-round,
    &.wo-thumbnail {
        border-radius: gsv(radius);
    }

    &.wo-circle {
        border-radius: 50%;
    }
}


//-----------------------------------------------
//  Elements
//-----------------------------------------------
@mixin generate() {
    @include init();

    .w-image {
        @include w-image-core;
        @include w-image-modifiers;
    }
}
