//=========================================================================
//  @package      Wicle Collection
//  @module       ui/components/navbar
//  @description  Navigation bar
//
//  @classes
//    .w-navbar:          navbar
//    .w-navbar-item:     navbar item inside navbar
//    .w-navbar-brand:    brnad item inside navbar
//    .w-navbar-nav:      navigation item inside navbar
//    .w-navbar-toggle:   main navigation toggle (toggles show/hide .w-navbar-trailer)
//    .w-navbar-spacer:   items that comes next will be right aligned
//    .w-navbar-trailer:  space to show accordion box. toggled by ,w-nav-toggle
//
//  @usage
//    <nav class="w-navbar">
//      <div class="w-navbar-brand>Logo</dev>
//      <div class="w-navbar-nav>navigation menu</dev>
//      <div class="w-navbar-item>generic items:ex)searchbox</dev>
//      <div class="w-navbar-toggle>menu toggle button</dev>
//    </nav>
//
//=========================================================================

@use 'wdk/color';
@use 'wdk/font';
@use 'wdk/reg';
@use 'wdk/ui/shape';
@use 'wdk/ui/media-query' as mq;
@use 'wdk/ui/theme';
@use '../layout/site';
@use '../config' as wc;

$key: 'w-navbar';

//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin ssv($path, $value, $is-default:false) { @include reg.ssv($key, $path, $value, $is-default); }
@function gsv($path, $default:null) {  @return reg.gsv($key, $path, $default); }

@mixin init() {
    // core
    @include ssv('max-width', site.$max-width, true);
    @include ssv('height', 3.5rem, true);
    @include ssv('padding', 0 1.5rem, true);
    @include ssv('fg', null, true);
    @include ssv('bg', theme.$color-fg, true);
    @include ssv('gradient', (level:20%, direction:bottom), true);
    @include ssv('radius', wc.$border-radius, true);
    @include ssv('item-spacing', 0.25rem, true);
    @include ssv('breakpoint', 'lg', true);
    @include ssv('link/fg', color.gray(85%), true);
    @include ssv('link/bg', null, true);
    @include ssv('link/hover/fg', white, true);
    @include ssv('link/hover/bg', null, true);

    // brand
    @include ssv('brand/font-family', font.$heading, true);
    @include ssv('brand/font-size', 1.25rem, true);
    @include ssv('brand/font-weight', 600, true);
    @include ssv('brand/fg', color.gray(90%), true);
    @include ssv('brand/hover/fg', white, true);

    // toggle
    @include ssv('toggle/fg', color.gray(80%), true);
    @include ssv('toggle/hover/fg', white, true);

    // optional dropdown trailer
    @include ssv('trailer/padding', 0.75rem 1rem, true);
    @include ssv('trailer/fg', theme.$text, true);
    @include ssv('trailer/bg', color.tint(theme.$color-bg, 90%), true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-navbar-core {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    border: none;

    max-width: gsv(max-width);
    height: gsv(height);
    padding: gsv(padding);
    border-radius: gsv(radius);

    // set item spacing
    & > :nth-child(n+2) {
        margin-left: gsv(item-spacing);
    }

    // navbar items
    .wz-item,
    .wz-brand,
    .wz-toggle {
        flex: 0 0 auto;
        //border: 1px solid red;
    }

    // brand
    .wz-brand {
        font-family: gsv(brand/font-family);
        font-size: gsv(brand/font-size);
        font-weight: gsv(brand/font-weight);

        $fg: gsv(brand/fg);
        $hover: gsv('brand/hover/fg');
        color: $fg;

        &:hover,
        &:focus {
            color: if($hover, $hover, if($fg, color.smart-scale($fg, 15%), null));
        }

        transition: color 0.2s;
    }

    // item spacer
    .wz-spacer {
        flex: 1 1 0; // grow shrink basis
    }

    .wz-nav.wo-responsive {
        display: none;

        @include mq.media(gsv(breakpoint)) {
            display: inline-block;
        }
    }

    .wz-toggle {
        &.wo-responsive {
            @include mq.media(gsv(breakpoint)) {
                display: none;
            }
        }

        @include shape.hamburger(gsv('toggle/fg'), gsv('toggle/hover/fg'));

        & {
            margin: 0.5rem;
        }
    }
}

@mixin w-navbar-trailer-core {
    position: absolute;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    // padding: gsv(trailer/padding);
    border-top: gsv(trailer/separator);
    & > .w-navbar-trailer-content {
        padding: gsv(trailer/padding);
        color: gsv(trailer/fg);
        background: gsv(trailer/bg);
    }
}

@mixin w-navbar-default-styles {
    $fg: gsv('fg');
    $bg: gsv('bg');
    $gr: gsv(gradient);

    & {
        color: if($fg, $fg, if($bg, color.yiq-color($bg), false));

        @if $bg {
            background: if($gr, color.gradient($bg, reg.get($gr, level), reg.get($gr, direction)), $bg);
        }
    }

    a {
        color: gsv('link/fg');
        background: gsv('link/bg');

        &:hover {
            color: gsv('link/hover/fg');
            background: gsv('link/hover/bg');
        }
    }
}


//-----------------------------------------------
//  Elements
//-----------------------------------------------
@mixin generate() {
    @include init();

    .w-navbar {
        @include w-navbar-core;
        @include w-navbar-default-styles;

        & + .w-navbar-trailer {
            @include w-navbar-trailer-core;
        }
    }
}
