//=========================================================
//
//  @package  Wicle Collection
//  @module   layout/site
//
//=========================================================

@use 'wdk/color';
@use 'wdk/reg';
@use "wdk/ui/z-index" as zi;
@use "wdk/ui/misc" as *;
@use "wdk/ui/theme";

$key: 'w-layout/site';
$max-width: gsv(max-width);   // 1220px !default; null means no limit

//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin ssv($path, $value, $is-default:false) { @include reg.ssv($key, $path, $value, $is-default); }
@function gsv($path, $default:null) {  @return reg.gsv($key, $path, $default); }

@mixin init() {
    // site-shadow
    @include ssv('background/z-index', null, true);

    // site
    @include ssv('max-width', null, true);

    // site-header
    @include ssv('header/fg', null, true);
    @include ssv('header/bg', theme.$color-fg, true);
    @include ssv('header/gradient', (level:20%, direction:top));
    @include ssv('header/min-height', 3rem, true);
    @include ssv('header/z-index', 10, true);

    // site-banner
    @include ssv('banner/min-height', 25rem, true);

    // site-footer
    @include ssv('footer/margin', (0rem auto), true);
    @include ssv('footer/padding', (2rem 1rem), true);
    @include ssv('footer/divider', (1px solid color.gray(70%, 0.5)), true);
    @include ssv('footer/fg', color.$text-white, true);
    @include ssv('footer/bg', rgba(#000, 0.85), true);

    // site-overlay
    @include ssv('overlay/z-index', zi.$level1, true);

    // site-offcanvas
    @include ssv('offcanvas/bg', color.$text-black, true);
    @include ssv('offcanvas/z-index', gsv('overlay/z-index') + 10, true);
    @include ssv('offcanvas/close-button/offset', 0.5rem, true);
    @include ssv('offcanvas/close-button/font-size', 1.35rem, true);
    @include ssv('offcanvas/close-button/padding', (0 0.4rem), true);
    @include ssv('offcanvas/close-button/fg', color.gray(85%), true);
    @include ssv('offcanvas/close-button/bg', color.gray(15%), true);
    @include ssv('offcanvas/close-button/border', (1px solid gray), true);
    @include ssv('offcanvas/close-button/border-radius', 5px, true);
}

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-layout-site-background {
    .l-site-background {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: gsv('background/z-index');  // default value is null
    }
}

@mixin w-layout-site {
    .l-site-container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
        max-width: gsv(max-width);
        overflow: hidden; // important: this will hide off-canvas elements
    }
}

@mixin w-layout-site-header() {
    .l-site-header {
        box-sizing: border-box;
        position: relative;
        $z-index: gsv('header/z-index'); // header should appear above the other layout objects
        margin: 0 auto;
        min-height: gsv('header/height'); // height this should be set in applications
        @include clearfix();

        // default style
        color: gsv('header/fg');
        background: gsv('header/bg');
    }
}

@mixin w-layout-site-banner() {
    .l-site-banner {
        position: relative; // required to enable absolute position settings of child elements
        overflow: hidden;
        min-height: gsv('banner/min-height');
    }
}

@mixin w-layout-site-content() {
    .l-site-content {
        position: relative; // required to be positioned above parallax elements
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: $max-width;
    }
}

@mixin w-layout-site-footer() {
    .l-site-footer {
        width: 100%;
        margin: gsv('footer/margin');
        padding: gsv('footer/padding');

        // default style
        color: gsv('footer/fg');
        background: gsv('footer/bg');
        text-align: center;
        border-top: gsv('footer/divider');
    }
}

@mixin w-layout-site-overlay {
    .l-site-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: gsv('overlay/z-index');
    }
}


@mixin w-layout-site-offcanvas() {
    .l-site-offcanvas {
        display: none;
        position: fixed;
        z-index: gsv('offcanvas/z-index');
        padding: 2rem 0 0 0;
        overflow-y: auto;
        max-height: 100%;

        // close-button
        &>.offcanvas-close-button {
            position: absolute;
            top: gsv('offcanvas/close-button/offset');
            right: gsv('offcanvas/close-button/offset');
            cursor: pointer;

            &:after {
                position: absolute;
                right: 0;
                content: '\2716';
                font-size: gsv('offcanvas/close-button/font-size');
                font-weight: bold;
                padding: gsv('offcanvas/close-button/padding');
                color: gsv('offcanvas/close-button/fg');
                background: gsv('offcanvas/close-button/bg');
                border: gsv('close-button/border');
                border-radius: gsv('offcanvas/close-button/border-radius');
            }
        }

        // default style
        color: color.$text-white;
        background: gsv('offcanvas/bg');
    }
}

@mixin generate() {
    @include init();

    @include w-layout-site-background;
    @include w-layout-site;
    @include w-layout-site-header;
    @include w-layout-site-banner;
    @include w-layout-site-content;
    @include w-layout-site-footer;
    @include w-layout-site-overlay;
    @include w-layout-site-offcanvas;
}
